<form action="/display_puppy" method="POST">
  Name: <input type="text" name="name">
  Breed: <input type="text" name="breed">
  Age: <input type="text" name="age">
  <input type="submit" id="submit" value="Submit">
</form>
